/* font-family: 'Courgette', cursive;
font-family: 'Open Sans', sans-serif; */

html {
}

body {
  font-family: "Open Sans", sans-serif !important;
}

/* Font-Awesome */
.fa-1x {
  font-size: 40px;
}

.text-slanted {
  font-family: "Courgette", cursive !important;
}

.text-orange {
  color: #f15025;
}

.letter-spacing {
  letter-spacing: 0.5rem;
}
